.top_section_why_eke {
    display: block;
}

.label_section {
    background-color: #2D2D2D;
    display: grid;
    grid-template-columns: 15vw 1fr;
}

.why_eke_label_fraction {
}

.why_eke_label_bg {
    background-color: #2D2D2D;
}

.why_eke_label_text {
    /* brings text down */
    margin-top: 280px;
}

.why_eke_svg {
}


.please_go_fuck_yourself_inspector {
    background-color: #2D2D2D;
    height: 100%;
}

.row_excellence {
    margin-left: 60px;
    margin-right: 120px;
    padding-top: 300px;
    font-family: "Libre Baskerville", serif;
}

.text_the_excellence_of_O_A_Level {
    color: wheat;
    font-size: 80px;
}

.excellence_subtitle {
    padding-top: 25px;
    color: wheat;
    font-size: 47px;
}

.excellence_explanation {
    padding-top: 8px;
    line-height: 55px;
    color: white;
    font-size: 28px;
    letter-spacing: 1px;
}

.divider_line_row_container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.divider_line {
    height: 3px;
    width: 300px;
    border-radius: 99px;
    background-color: #F5DEB3;
}
