.top_section_why_eke {
    display: block;
}

.label_section {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.why_eke_label_fraction {
}

.why_eke_label_bg {
}

.why_eke_label_text {
    /* brings text down */
    margin-top: 200px;
}

.why_eke_svg {
    
}


.please_go_fuck_yourself_inspector {
    background-color: #2D2D2D;
}

.row_excellence {
    margin-left: 75px;
    letter-spacing: 1px;
    margin-right: 120px;
    margin-top: 200px;
    font-family: "Libre Baskerville", serif;
}

.text_the_excellence_of_O_A_Level {
    color: wheat;
    font-size: 74px;
}

.excellence_subtitle {
    padding-top: 100px;
    color: wheat;
    font-size: 48px;
}

.excellence_explanation {
    padding-top: 10px;
    line-height: 47px;
    color: white;
    font-size: 27px;
    letter-spacing: 1px;
}

.divider_line_row_container {
    display: flex;
    justify-content: center;
    margin-top: 350px;
}

.divider_line {
    height: 3px;
    width: 300px;
    border-radius: 99px;
    background-color: #F5DEB3;
}


/*What you see*/
.what_you_see_is_what_you_get {
    color: wheat;
    text-align: center;
    font-size: 55px;
    font-family: "Libre Baskerville", serif;
    margin-top: 80px;
}

.what_you_see_explanation {
    margin: 20px 35px 200px;
    line-height: 45px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 30px;
}

.card_view_why_eke {
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
}

.cv_we_image {
    margin-left: auto;
    margin-right: auto;
    width: 890px;
    background-color: #EEEEEE;
    height: 450px;

}

.cv_we_title {
    margin-top: 25px;
    color: wheat;
    margin-left: 45px;
    margin-right: 40px;
    font-size: 30px;
    font-weight: bold;
}

.cv_we_desc {
    margin-left: 45px;
    margin-right: 45px;
    color: #FFF6E6;
    font-size: 24px;
    line-height: 35px;
    margin-top: 10px;
}

.card_view_why_eke_last {
    padding-bottom: 100px;

}


.lalala{
    width: 100%;
}

.why_eke_links {
    margin-top: 60px;
    line-height: 40px;
    font-family: "Libre Baskerville", serif;
    font-size: 23px;
    color: white;
}

.why_eke_link_color {
    color: #fdefd5;
}
