.label_section_courses_offered {
    display: grid;
    grid-template-columns: 1fr 150px;
    margin-bottom: 350px;
}

.courses_offered_label_right {
}

.courses_offered_text_section {
    margin-right: 55px;
    margin-left: 75px;
}

.courses_offered_label_text {
    float: right;
    margin-top: 200px;
}

.line_courses_offered {
    margin-top: 200px;
    background-color: #D1A85B;
    height: 10px;
}

.all_general_courses_offered_text {
    padding-top: 60px;
    color: #D1A85B;
    font-size: 57px;
    font-family: "Libre Baskerville", serif;
    line-height: 70px;
}

.all_courses_sub_text {
    margin-top: 30px;
    font-family: "Libre Baskerville", serif;
    color: #909090;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 55px;
}

.card_view_subject_list_container {
    margin-bottom: 60px;
}

.cof-header-img {
    pointer-events: none;
}

.cv_sl_template {
    font-family: "Libre Baskerville", serif;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #F0F0F0;
}

.cv_sl_subject_name {
    color: #434343;
    font-size: 45px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Libre Baskerville", serif;
}

.cv_sl_instructor_name {
    padding-left: 40px;
    color: #646464;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 28px;
    font-family: "Libre Baskerville", serif;
}

.cv_sl_divider {
    margin-top: 30px;
    height: 2px;
}

.cv_sl_subs_cam {
    height: 20px;
    background-color: #dedede;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0.5px;
    font-size: 25px;
    line-height: 40px;
    color: #979797;
    margin-bottom: 12px;
}

.cv_sl_subs_cam_high_light {
    font-weight: bold;
    text-decoration: underline;
}

.cv_sl_subs_edex {
    letter-spacing: 0.5px;
    padding-left: 40px;
    padding-bottom: 60px;
    font-size: 25px;
    color: #979797;
}

.cv_sl_subs_edex_high_light {
    font-weight: bold;
    text-decoration: underline;
}

.cv_sl_instructor_school {
    letter-spacing: 0.3px;
    margin-top: 10px;
    color: #7e7e7e;
    font-size: 24px;
}