* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.full_width {
    width: 100vw;
}

.full_height {
    height: 100vh;
}

.match_parent_height {
    height: 100%;
}

.match_parent_width {
    width: 100%;
}