
.top_header {
    height: 6vh;
    background: blueviolet;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    /* add shadow */
}


.front_card {
    height: 50vh;
    background-color: aqua;
}


.about_us {
    height: 50vh;
    background-color: blue;

}

.admissions {
    height: 50vh;
    background-color: chocolate;
}

.location {
    height: 50vh;
    background-color: darkcyan;
}

.footer {
    height: 70vh;
    background-color: #f3e1ce;
}
