.nav-bar {
    position: sticky;
    top: 0;
    height: 120px;
    background-color: white;
    box-shadow: 0 30px 10px -30px rgba(0, 0, 0, 0.25);
}

.intro_card {
    height: 70vh;
}

.why_eke {
    background-color: #2D2D2D;
}

.courses_offered {
}

.admissions {
    background-color: #EEEEEE;
}