.nav-bar {
    display: grid;
    grid-template-columns: 1fr 180px;
}

.nav-bar-logo {

}

.nav-bar-menu-button-container {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}