/* Row 1: Logo */

.row1_front_card {
    padding-top: 140px;
}

.logo_img {
    margin-right: auto;
    margin-left: auto;
    height: 150px;
    width: 70vw;
    background-color: sienna;
}

/* Row 2: Heading text */
.row2_front_card {
    padding-top: 120px;
}

.welcome_text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 100px;
    text-align: center;
}