.admissions_right_side {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 90px;
}

.admissionPromise__title {
    color: #D1A85B;
    font-size: 56px;
    font-family: "Libre Baskerville", serif;
    line-height: 80px;
}

.admissions_education_color_contrast {
    color: #969696;
}

.admissionPromise__subtitle {
    margin-top: 30px;
    font-family: "Libre Baskerville", serif;
    color: #454545;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 55px;
}

.admissionPromise__bold {
    font-weight: 800;
}

.label__admissionChargeAndFees {
    color: black;
    text-align: center;
    font-size: 55px;
    padding-left: 120px;
    line-height: 75px;
    padding-right: 120px;
    font-family: "Libre Baskerville", serif;
    margin-top: 50px;
}

.admissions_divider_container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.admissions_divider {
    background-color: #8D8D8D;
    height: 7px;
    width: 35%;
}

.fees_template_container {
    margin-top: 60px;
}

.fees_template {
}

.cv_ad_template {
    font-family: "Libre Baskerville", serif;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #f8f8f8;
}

.cv_ad_fees_label {
    color: #434343;
    font-size: 14px;
    letter-spacing: 1.3px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Libre Baskerville", serif;
}

.cv_ad_fees_cost {
    padding-left: 50px;
    padding-right: 50px;
    color: #6B6B6B;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 13px;
    font-family: "Libre Baskerville", serif;
}

.card_view_fees_list_container {
    margin-bottom: 40px;
}

.cv_ad_bottom_virtual_margin {
    height: 20px;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0.5px;
    font-size: 25px;
    line-height: 40px;
    color: #979797;
    margin-bottom: 12px;
}

.label__location {
    color: #D1A85B;
    text-align: center;
    font-size: 55px;
    padding-left: 120px;
    line-height: 75px;
    padding-right: 120px;
    font-family: "Libre Baskerville", serif;

    /* Adjust to bring Location heading text up */
    margin-top: 150px;
}

.location--address {
    margin: 10px 25px 0;
    line-height: 45px;
    color: #707070;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 12px;

    /* Adjust to move address text up or down */
    padding-bottom: 200px;
}

.email_link {
    color: #707070;
}

.location--address__light {
    color: #999999;
}

.ad-form-download-link-container {
    margin-top: 50px;
    display: flex;
    font-family: "Libre Baskerville", serif;
    justify-content: center;
    padding-top: 10px;
}

.ad-form-download-link {
    line-height: 47px;
    color: #7a7a7a;
    font-size: 32px;
    letter-spacing: 1px;
}

.ad-registration-requirements-container {
    margin-top: 100px;
}

.ad-registration-requirements {
    background-color: #E6E6E6;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Libre Baskerville", serif;
    color: black;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 55px;
}