* {
    font-family: "Libre Baskerville", serif;
    font-size: 18px;

}

/* WHITE BACKGROUND */
.teacher-template-white {

}

.white-template-container {
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: 65px 1fr;
    padding-bottom: 30px;
}

.white-left-col {
    margin-top: 140px;
}

.teacher-page-mathematics-header-img {
    position: relative;
    bottom: 0;
    left: 0;
}

.white-right-col {
    margin-top: 100px;
    float: right;
}

.teacher-face-img {
    border-radius: 4000px;
    float: right;
}

.float-right {
    float: right;
    margin-right: 30px;
    margin-left: 20px;
    text-align: right;
}

.teacher-text {
    float: right;
    margin-top: 15px;
    padding-right: 10px;
}

.elias-sir {
    font-size: 1.5rem;
    color: #D1A85B;
    padding-left: 30px;
    -webkit-text-stroke: 0.01rem #D1A85B;
}

.senior-mathematics-teacher {
    padding-top: 5px;
    font-size: 0.60rem;
    padding-left: 30px;
    color: #4a4a4a;
}

.oxford-international-school {
    font-size: 0.65rem;
    -webkit-text-stroke: 0.027rem #4a4a4a;


}

.writer-unique-solutions {
    font-size: 0.65rem;
    padding-top: 5px;
    padding-left: 30px;
    color: #8a8a8a;
}

.instructor-for-text {
    display: none;
    margin-top: 5px;
    font-size: 0.65rem;
}

.mathematics-d-additional-mathematics {
    color: #4f4f4f;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 0.7rem;
}

/* GOLD BACKGROUND */

/* DARK BACKGROUND */