
.nav-shortcuts__link-container {
    margin: 3px;
}

.nav-shortcuts {
    background-color: wheat;
    padding: 15px 30px;
    display: grid;
    grid-template-columns: 5fr 4fr;
}

.nav-shortcuts__link {
    color: black;
    font-size: 13px;
}